<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <title>{{ .Title}}</title>
    </head>
<body>
    <h1>Dive into go</h1>
    <div class="main">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-files-tab" data-toggle="pill" href="#pills-files" role="tab" aria-controls="pills-files" aria-selected="true">Files</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-db-tab" data-toggle="pill" href="#pills-db" role="tab" aria-controls="pills-db" aria-selected="false">DB</a>
                </li>                
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-files" role="tabpanel" aria-labelledby="pills-files-tab">
                        <form action="api/v1/upload" method="post" enctype="multipart/form-data">
                            <p>Select a file to upload:</p>
                            <p><input type="file" name="file-input" multiple="multiple"></p>
                            <p><input type="submit" value="Upload"></p>
                        </form>
                </div>
                <div class="tab-pane fade" id="pills-db" role="tabpanel" aria-labelledby="pills-db-tab">
                    <form action="/api/v1/db/insert" method="post">
                        <p>User form:</p>
                        <div class="form-group">
                          <label for="user-name">Name:</label>
                          <p><input type="text" name="name-input" id="form-user-name"></p>
                        </div>    
                      
                        <div class="form-group">
                          <label for="form-user-age">Age:</label>
                          <p><input type="number"  name="age-input" id="form-user-age"></p>
                        </div>    
                    
                        <input type="submit" value="Save">
                    </form>
                      
                    <form action="/api/v1/db/get" method="get">
                      <p><input type="submit" value="Show All"></p>
                    </form>                
              </div>
          </ul>
    </div>                
</body>
</html>